.main-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto';
}

.sub-container-1 {
  background-color: #ffbf1f;
  flex-grow: 1;
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub-container-2 {
  background-color: #0f172a;
  flex-grow: 1;
  width: 50%;
  min-height: 100vh;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-title {
  color: #272c47;
  font-size: 35px;
  padding: 20px;
}

.char-count-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc533;
  width: 100%;
  flex-grow: 1;
}

.no-input-img {
  width: 100%;
}

.counter-title {
  color: #ffbf1f;
  font-size: 24px;
}

.input-btn-container {
  width: 90%;
  display: flex;
  align-items: stretch;
  margin-top: 50px;
  height: 40px;
}

.input {
  flex-grow: 1;
  margin-right: 20px;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
}

.add-btn {
  background-color: #ffc533;
  width: 100px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #272c47;
  font-weight: 600;
}

.char-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  align-self: flex-start;
  padding: 20px 30px;
}

.char-item {
  color: #1e293b;
  font-size: 28px;
  font-weight: 600;
  margin: 10px;
}
